<!doctype html>
<html lang="pt-br" >
<head >
  <meta charset="UTF-8" >
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" >
  <meta http-equivb="X-UA-Compatible" content="ie=edge" >
  <title>BIOGRAFIA</title >
</head >
<body>
<header>

  <nav>
    <ul>
<!--
      <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
-->
      <li><a href="#">Obras</a></li>
      <li><a href="#">História</a></li>
      <li><a href="#">Home</a></li>
    </ul>
  </nav>

</header>
<app-home></app-home>

<section class="col-md-12 historia">
  <h1 class="titulo" data-aos="fade-right">História</h1>

  <p class="text-historia clearfixng" data-aos="fade-right">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
    industry's standard dummy text ever
    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
    centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
    industry's standard dummy text ever
    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
    centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
    industry's standard dummy text ever
    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
    centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</section>

<app-timeline></app-timeline>

  <footer></footer>
</body >
</html >
