<section class="container-fluid"> <!-- container
centers content on large screens -->
  <div class="row clearfix">             <!-- responsive row has 12 columns by default -->
    <section class="col-md-5 container-flex">
      <p class="span-escritor" data-aos="fade-right">ESCRITOR</p>
      <h1 class="citacao wow slideInLeft" data-aos="fade-right">Moacir Sant'Ana</h1>
      <h2 class="font-manuscrita" data-aos="fade-right" #manuscrita></h2>
    </section>
    <section class="perfil col-md-7">

    </section>
  </div>
</section>
