<section class="container-fluid home"> <!-- container
centers content on large screens -->
  <div class="row clearfix">             <!-- responsive row has 12 columns by default -->
    <section class="col-md-5 container-flex">
      <p class="span-escritor">ESCRITOR</p>
      <h1 class="citacao wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">Moacir Sant'Ana</h1>
      <h2 class="font-manuscrita" #manuscrita></h2>
    </section>
    <section class="perfil col-md-7">
      <img src="../../assets/img/moacir.png" class="offset-2" alt="" style="width: 600px" >
    </section>
  </div>
</section>
